/*Barra de Nav*/
.navbar-brand{
  color: #0091EA !important;
}

.active{
  color: #00BFA5 !important;
}

.ms-auto a:hover{
  color: #00BFA5 !important;
}

/*Inicio contenido*/
#intro {
  height: 100vh;
}

#intro a:hover{
  text-decoration: underline;
}

.mask{
  background: linear-gradient(to right, rgba(5, 119, 233, 0.6), rgba(53, 255, 145, 0.6) 100%);
}

.mask{
  /* background: linear-gradient(to right, rgba(106, 17, 203, 0.7), rgba(37, 117, 252, 0.7)); */
  /* background: linear-gradient(to right, rgba(39, 231, 252, 0.5), rgba(78, 248, 163, 0.5) 100%); */
  /* #1DB4C1 */
}

/*Banner/nosotros-servicios-contacto*/
#intro2{
  height: 36vh;
}

/*Nosotros contenido*/
.config-img{
  width: 52%;
  height: 50%;
}

.justify{
  text-align: justify;
}

/*contacto contenido*/
