/*Barra de Nav*/
.navbar-brand{
  color: #0091EA !important;
}

.active{
  color: #00BFA5 !important;
}

.ms-auto a:hover{
  color: #00BFA5 !important;
}

/*Inicio contenido*/
#intro {
  height: 100vh;
}

#intro a:hover{
  text-decoration: underline;
}

.mask{
  background: linear-gradient(to right, rgba(5, 119, 233, 0.7), rgba(53, 255, 145, 0.7) 100%);
}

/***Banner/nosotros-servicios-contacto***/
#intro2{
  height: 36vh;
}

/*titulos*/
.mytitle{
  color: #1DB4C1;
}

/*Nosotros contenido*/
.config-img{
  width: 52%;
  height: 50%;
}

.justify{
  text-align: justify;
}

/*Servicios contenido*/
#services a:hover{
  text-decoration: underline;
}

#services a{
  background-color: #1DB4C1;
  color:white;
}

/*contacto contenido*/
#contact p{
  line-height: 10px;
}

@media (max-width:991px){
  iframe{
  width: 600px;
  }
}

@media (max-width:767px){
  iframe{
  width: 500px;
  }
}

@media (max-width:575px){
  iframe{
  width: 385px;
  }
}
